@font-face {
  font-family: 'Jellee';
  src: url('./fonts/jellee-roman-webfont.woff2') format('woff2'),
    url('./fonts/jellee-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dank Mono';
  src: url('./fonts/DankMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Reveal.js Theme Customization */
.reveal {
  font-family: 'Jellee', sans-serif;
  background-color: var(--base);
  color: var(--text);

  h1,
  h2,
  h3 {
    color: var(--blue);
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  p,
  li {
    font-size: 2em;
  }

  .slides {
    text-align: left;
    line-height: 1.5;
  }

  pre {
    background-color: var(--mantle);
    color: var(--text);
    width: 100%;
    padding: 15px;
    border-radius: 5px;

    code {
      color: var(--green);
      font-size: 1.5em;
      font-family: 'Dank Mono';
    }
  }

  blockquote {
    border-left: 5px solid var(--lavender);
    background-color: var(--surface0);
    padding: 10px 20px;
  }

  ul {
    margin: 1rem 2rem;
    line-height: 2;
  }

  hr {
    margin: 2rem 0;
  }
}

.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  opacity: var(--button-opacity);
  transition: opacity 0.2s;
}

.theme-toggle:hover {
  opacity: 0.7;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
  /* set the icon color to match the text color */
  filter: brightness(0) saturate(100%) var(--text-filter);
}
